<!--include header-->
<%- include('include/_header') %>
<!--/include header-->


 <!-- Main Site -->

 <main id="site-main">
    <div class="container">
    <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>Update Test Suite</a>
        </div>
    </div>
    <div class="form-title text-center">
        <h2 class="text-dark"> Update Test Suite</h2>
        <span class="text-light">Use the below form to Update an test suite</span>
    </div>  

    <!-- add user form -->

    <!-- Form Handling-->
 <form action="/" method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="test-suite" class="text-light">Test Suite</label>
            <input type="hidden" name="id" value="<%=user._id%>">
            <input type="text" name="name" value="<%=user.testSuite%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="test-case" class="text-light">Test Case</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="<%=user.testCase%>" placeholder="">

        </div>
        <div class="form-group">
            <label for="other" class="text-light">Test Steps</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="<%=user.testSteps%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio1" name="status" value="Pass">
                <label for="radio1" class="radio-label">Pass</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio2" name="status" value="Fail">
                <label for="radio2" class="radio-label">Fail</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>

</form>
   
    </div>
</main>


<!-- /Main Site -->



<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->
    